# Backup files
*.bak
*.bak.meta

# Build
.build/

# Build artifacts
.artifacts/

# NuGet
/packages/

# Python
__pycache__/

# Test results
/TestResults/

# Visual Studio
.vs/
*.csproj.user
*.props.user
*.suo

# Visual Studio Code
.vscode/
