# Artifacts
/Artifacts/

# Environment
environment.json

# NuGet
/packages/

# Python
__pycache__/

# Python virtual environment
.venv/

# Test results
/TestResults/

# Visual Studio
.vs/
*.csproj.user
*.props.user
*.suo

# Visual Studio Code
.vscode/
